body {
    font-family: "Roboto", sans-serif;    
}

.cabecalho {
    background-color: #0E0027;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 60px;
}

.cabecalho img {
    width: 180px;
    height: 85px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.container .produtos {
    color: #2d0e67;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 32px;
    line-height: 32px;
    letter-spacing: 2px;
}

.container .filtros {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.container .categorias-cartas, .container .preco-cartas {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.container label {
    letter-spacing: 2px;
    font-weight: 500;
    color: #2d0e67;
    margin-bottom: 3px;
}

.container .categorias-cartas select, .container .preco-cartas input {
    padding: 16px 13px;
    border-radius: 2px;
    border: 3px solid #7950c6;
    background-color: #F2EEFA;
    color: #1e054f;
    height: 52px;
}

.container select:focus, 
.container input:focus, 
.container select:focus-visible, 
.container input:focus-visible {
    outline: none;
}

.container .categoria {
    appearance: none;
    background: url(../img/baixar.png) 97% center / 30px 25px no-repeat;
}

.container .filtros .btn-filtrar {
    border: none;
    background-color: #7950c6;
    color: #ffffff;
    padding: 16px 32px;
    font-weight: 500;
    align-self: end;
    width: 177px;
    height: 52px;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 0.3s;
}